body {
    font-family: sans-serif;
    color: #45424A;
    background-color: #e5989b;
}

.wrapper {
    width: 90%;
    margin: auto;
    background-color: #ffcdb2;
}

header,footer {
    background-color: #B5838D;
    text-align: center;
    padding: 10px;
}

article {
    padding: 20px;
}
img {
    display: block;
    margin: auto;
}