body {
    font-family: sans-serif;
    font-size: 18px;
    color: #45424A;
    background-color: #e5989b;
}

.wrapper {
    width: 90%;
    margin: auto;
    background-color: #ffcdb2;
}

header,footer {
    background-color: #B5838D;
    text-align: center;
    padding: 15px;
}

article {
    padding: 20px;
}

img {
    display: block;
    margin: auto;
}

.site-title {
    color: #343238;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style: square;
}

li:nth-child(odd) {
    background-color: #ffb4a2;
}

nav a {
    text-decoration: none;
    background-color: #6d6875;
    padding: 5px;
    border: 1px solid #45424A;
}

a:link {
    color: white;
}
a:visited {
    color: #ffcdb2;
}
a:hover {
    color: #343238;
}
a:focus {
    color: #e5989b;
}