/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* DONE */




* {
    box-sizing: border-box;
}

/* main size for reference later */
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #AAD4CF;
}

/* positioning the main block */
.wrapper {
    width: auto;
    margin-bottom: 15px;
    margin-left: 124px;
    margin-right: 124px;
    background-color: #D4E9E7;
}

/* making the first image reponsive within the wrapper */
img#ls1 {
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10%;
}

/* fiddling with the nav spacing and borders */
nav a{
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    width: 33.333333%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav .middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a:link {
    color:black;
}

a:visited {
    color: black;
}

/* had to add another div to make sure the responsive image wouldn't be padded */
.container {
    padding: 8px;
}

/* making the second image smaller and not crammed in the corner */
img#ls2 {
    width: 135px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.clearhere {
    clear: both;
}

/* resizing all the headings along a curve, and making them responsive to the master key */
h1 {
    color: white;
    font-size: 1.95rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 1.56rem;
    font-weight: 500;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

article p {
    margin-top: 10px;
}

ul {
    list-style: disc;
    margin-left: 30px;
}

.border {
    border: 1px solid black;
    padding: 10px;
}
/* making the text inputs fit into the border, and removing the input borders */
input.long {
    width: 100%;
    border-style: none;
}

textarea {
    width: 100%;
    resize: none;
    height: 60px;
    border-style: none;
}

input, textarea {
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
    margin: 20px;
    text-align: right;
}