/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a:link {
	text-decoration: none;
}

/* END */





* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #222;
	padding: 1rem 0;
}

.wrapper {
	margin: 0 1rem;
}

/* standardizing the headers */
h1 {
	font-weight: 900;
	font-size: 3rem;
	margin: 1.5rem 0;
	line-height: 1;
}
h2 {
	font-size: 3rem;
	font-weight: 900;
	margin: 1.5rem 0;
}
h3 {
	font-size: 2rem;
	font-weight: 900;
	margin: 1rem 0;
}
h4 {
	font-size: 1rem;
	font-weight: 900;
	margin: .5rem 0;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav a {
	color: #c78c06;
	padding: 1.5rem 0;
}

.wtfbox, .centerbox{
	background-color: #c78c06;
	width: 100%;
	padding: 1.5rem 0;
}
.centerbox a {
	color: #222;
}
.centerbox {
	text-align: center;
}

/* input and button side-by-side */
.form1 {
	display: flex;
}
.searchbutton {
	background: none;
	color:#c78c06;
	border: 1px solid #c78c06;
	font-size: 20px;
	padding: .25rem;
	width: 5%;
}
#search {
	width: 95%;
	padding: .5rem;
}

/* putting div on top of the image */
.himg {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.fltbox {
	/* Using RGB to get it translucent */
	background-color: rgb(34, 34, 34, 0.7); 
	position: absolute;
	color: white;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 20rem;
	width: 100%;
}
.flt1 {
	position: relative;
}
.fltbttn {
	background-color: #c78c06;
	padding: 1rem;
	font-weight: 600;
	width: 225px;
	text-align: center;
}
.fltbttn a:link {
	color:#222;
}
.fltbttn a:visited {
	color:#222;
}
.fltbox p {
	margin-bottom: 1rem;
}

.about img {
	width: 100%;
	height: auto;
	margin-top: 1rem;
	
}
.about {
	background-color: #ffe6ac;
	padding-bottom: 1rem;
}
.about p {
	margin: 1rem 0;
}

/* text and bttns seperate from images to keep it from resizing */
.services .svc {
	background-color:#ffe6ac;
	padding-bottom: .05rem;
	margin-bottom: 1rem;
}
.services .svc img {
	width: 100%;
	height: auto;
}
.services .svc h3{
	margin: 1rem;
}
.services .svc p,.svcbttn {
	margin: 1rem;
}
.svcbttn {
	background-color:#222;
	padding: 2rem;
	width: 14rem;
	text-align: center;
}
.svcbttn a:link, .svcbttn a:visited {
	color: white;
}

/* trying out cropping with object properties */
.visimg {
	width: 100%;
	height: 18rem;
	object-fit: cover;
	object-position: center;
}
.vision {
	position: relative;
}
.vis {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 14rem;
	color: white;
}
.vsnbttn {
	background-color: rgb(34, 34, 34, 0.7);
	width: 14rem;
	padding: 2rem;
	border: 1px solid #c78c06;
	text-align: center;
}
.vision p {
	margin-bottom: 1rem;
}

/* needs divider, unsure of colour. It looks weird for some reason */
.team img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.team .tmdsc {
	background-color: #ffe6ac;
	margin-bottom: 1rem;
	padding: 1rem;
}
.team h3 {
	padding: 1rem 0;
	margin: 0;
}
.team hr.solid {
	border-top: 3px solid #c78c06;
}

/* sets width, but also changes height a little */
.contact #fullname,#email,#msg {
	width: 100%;
	height: 2rem;
	border: 1px round #222;
}
.contact #msg {
	height: 8rem;
}
.contact form > * {
	margin: .5rem;
	font-weight: 600;
}
.contact .sbmtbttn {
	background-color: #222;
	border: none;
	color:#c78c06;
	font-weight: 600;
	padding: .25rem;
}

/* coloured table header, and cell spacing */
.contact table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1rem;
}
.contact table {
	width: 100%;
	table-layout: fixed;
}
.contact th {
	background-color: #ffe6ac;
}

.contact .map {
	width: 100%;
	height: 35rem;
	margin-bottom: 1rem;
}

/* learned to add second 'footer' to commas */
footer {
	background-color:#222;
	height: 6rem;
}
footer p {
	color: #c78c06;
	line-height: 3rem;
}
footer a:link, footer a:visited {
	color:#c78c06;
}
















@media screen and (min-width: 760px) {
	.fltbox {
		height: 28rem;
	}
	.fltbox h1 {
		font-size: 4.5rem;
		line-height: 1.25;
		margin: 2rem 0;
	}
	.fltbttn {
		padding: 2rem;
	}
	
	
}
@media screen and (min-width: 900px) {
	.wrapper {
		max-width: 1200px;
	}
	.fltbox {
		height: 36rem;
		
	}
	.fltbox h1 {
		font-size: 6rem;
		margin-top: 5rem;
	}
	.about img {
		float: left;
		max-width: 50%;
		height: auto;
	}
	
}

@media screen and (min-width: 1216px) {
	.wrapper {
		margin: 0 auto;
	}
	.fltbox {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 1228px;
	}

	.wtfbox {
		width: 0;
		padding: 0;
	}
	.centerbox {
		background-color: #c78c06;
		width: 8rem;
		padding: 1.5rem;
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.wtfbox {
		grid-area: logo;
	}
	.navlinks {
		grid-area: navarea;
	}
	.form1 {
		grid-area: formarea;
	}
	.dsknav {
		display: grid; 
		grid-template-areas:
		"logo navarea navarea navarea navarea navarea formarea"
	}
	.form1 {
		height: 2.5rem;
		margin-top: 1.85rem;
	}
	.searchbutton {
		width: 2rem;
	}
	
}